<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download File</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h3>Output:</h3>
    <img class="output" src="{{ filename }}" alt="watermarker">
    <div class="links flex">
        <a href="{{ filename }}" download>Download</a>
        <a href="/upload">Upload new</a>
    </div>
</body>
</html>